[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
hug = "*"
sqlalchemy = "*"
"pg8000" = "*"
mongoengine = "*"
addict = "*"
gevent = "*"
marshmallow = "*"
httpie = "*"
pynacl = "*"


[dev-packages]
